.box {
  width: 100px;
  height: 100px;
  background-color: red;
  /* transition: width 2s linear 1s, height 3s ease 500ms; */
  /* transition-delay: 500ms; */
  /* transition-timing-function: ease; */
}

.box:hover {
  /* transform: scale(3, 0.5); */
  /* transform: rotate(45deg); */
  /* transform: translate(50px, 100px); */

  width: 150px;
  height: 200px;
}

.circle {
  width: 100px;
  height: 100px;
  background-color: green;
  border-radius: 50%;
}
